@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: right 0.5s, bottom 0.5s;
}

h1{
    font-size: 6vw;
    margin: 5% 0;
}

body{
    position: relative;
}
header{
    position: absolute;
    top: 10px;
    z-index: 1;
    width: 100%;
}
header #nav_superior{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
header #nav_superior a{
    text-decoration: none;
    padding: 10px 5%;
    background-color: rgba(0, 0, 0, 0.11);
    color: crimson;
    border-radius: 20px ;
}

#visivel{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
#paginas{
    width: 100vw;
    height: 100vh;
    position: relative;
    --right-value: 200vw;
    --bottom-value: 100vh;
    bottom: var(--bottom-value);
    right: var(--right-value);
}
#contribuicao{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: wheat;
    left: 100vw;
    top: 100vh;
}

#home{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: aqua;
    left: 200vw;
    top: 100vh;
}
#home .conteudo{
    width: 100%;
    height: 100%;
    position: relative;
}
#home h1{
    text-align: center;
}
#home .meio{
   display: flex;
   flex-flow: row nowrap;
   width: 100%;
   height: 60%;
}
#home .meio > div{
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-around;
   width: 30%;
   align-items: center;
}
#home .meio div > img{
    width: 90%;
    height: 60%;
    border-radius: 20px;
}
#home .meio div > p{
    width: 85%;
    background-color: rgba(0, 0, 0, 0.288);
    text-align: center;
    border-radius: 20px;
    padding: 20px;
}
#home .meio nav{
    display: grid;
    width: 60%;
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}
#home .meio nav a{
    margin-bottom: 20px;
    text-decoration: none;
    padding: 13px;
    width: 80%;
    text-align: center;
    color: aliceblue;
    font-size: 2vw;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 20px;
}
#home .meio nav a:nth-last-child(1){ grid-area: 1 / 2 / span 1 / span 1 ;}
#home .meio nav a:nth-last-child(2){  grid-area: 2 / 1 / span 1 / span 1 ;}
#home .meio nav a:nth-last-child(3){  grid-area: 2 / 3 / span 1 / span 1 ;}
#home .meio nav a:nth-last-child(4){  grid-area: 3 / 2 / span 1 / span 1 ;}
#home .meio nav a:nth-last-child(5){  grid-area: 4 / 1 / span 1 / span 1 ;}
#home .meio nav a:nth-last-child(6){  grid-area: 4 / 3 / span 1 / span 1 ;}

#home .conteudo > p{
    background-color: rgba(68, 68, 68, 0.192);
    width: 97%;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
}
#home .social{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    position: absolute;
    transform: translateY(-100%);
    bottom: 0px;
    width: 100%;
}
#home .social img{
    width: 75px;
    height: 75px;
    border-radius: 25%;
    background-color: transparent;
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.637));
}











#formacao{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: blueviolet;
    left: 200vw;
    top: 000vh;
}

#skills{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: brown;
    left: 200vw;
    top: 200vh;
}



#sites{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: chocolate;
    left: 300vw;
    top: 100vh;
}

#videos{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: darkblue;
    left: 400vw;
    top: 100vh;
}